@using MVCEncrypt;
@{
    ViewBag.Title = "MVC Encrypt Demo page";
}

<div class="jumbotron">
    <h1>MVC Encrypt </h1>

    <p class="lead">MVC Encrypt is a NuGet package to encrypt/decrypt query string parameters</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Example</h2>
        <p>
            In the View , the original link looks like this:
        </p><p>
            &lt;a href='@@Url.Action("TestEncrypt", new {id=7, a = 1, b = "asd" })'&gt;Test&lt;/a&gt;
            <br />live link:    <a href='@Url.Action("TestEncrypt", new { id=7, a = 1, b = "asd" })'>Test</a>
        </p><p>
            To encrypt, please modify to this:
        </p><p>
            &lt;a href='@@Url.ActionEnc("mySecret", "TestEncrypt", new {id=7, a = 1, b = "asd" })'&gt;Test&lt;/a&gt;
            <br />    Do not forget @@using MVCEncrypt;
        </p><p>
            livelink:
            <a href='@Url.ActionEnc("mySecret", "TestEncrypt", new {id=7, a = 1, b = "asd" })'>Test</a>

            <br />
            In the action, please add attribute MVCDecryptFilter
        </p><p>
            <pre>
            [MVCDecryptFilter(secret = "mySecret")]
            public ActionResult TestEncrypt(int a, string b)
            {
                return Content(" a is " + a + " and b is " + b);
            }
            </pre>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Live Demo at appHarbor</h2>
        <p>Please see  http://mvc5encrypt.apphb.com/</p>
        <p><a class="btn btn-default" href="http://mvc5encrypt.apphb.com/">See in action &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More details </h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>